- fileImporter.importCss(['/stylesheets/ctrls.styl']);
- fileImporter.importJs(['/javascripts/ctrls.coffee']);
.ctrlsContainer
  a.jtBtn.nextPage.disabled(href='javascript:;') 下一页
  a.jtBtn.prevPage.disabled(href='javascript:;') 上一页
  a.jtBtn.readme(href='javascript:;') 使用说明
  a.jtBtn.invertSelection(href='javascript:;') 反选
  a.jtBtn.remove.disabled(href='javascript:;') 删除
  a.jtBtn.attrGroup.disabled(href='javascript:;') 属性修改