- fileImporter.importCss('/stylesheets/leftcontainer.styl');
- fileImporter.importJs('/javascripts/leftcontainer.coffee');
#leftContainer
  h4.jtGrayGradient.title Buckets
  a.bucketListUp.jtGrayGradient(href='javascript:;')
    .jtArrowUp
  include ./bucket
  a.bucketListDown.jtGrayGradient(href='javascript:;')
    .jtArrowDown
  include ./opcontainer