- fileImporter.importCss('/stylesheets/leftcontainer.styl');
- fileImporter.importJs('/javascripts/leftcontainer.coffee');
#leftContainer
  h4.jtGrayGradient.title Buckets
  include ./bucket
  include ./opcontainer