- fileImporter.importCss('/stylesheets/opcontainer.styl');
.opContainer
  h4.jtGrayGradient.title 操作
  .op.createBucket
    a(href='javascript:;') 新增
  .op.refreshBucket
    a(href='javascript:window.location.reload();') 刷新
  .op.setting
    a(href='javascript:;') 设置