- fileImporter.importCss('/stylesheets/readme.styl');
#readmeContainer
  h1 整个项目开源，大家可以随意使用。https://github.com/vicanso/oss。其中的用到的SDK也是开源的：https://github.com/vicanso/jtoss。
  ul.readmeContainer
    li
      p 设置每页显示数量
      p 设置-->全局配置
      img(src='/static/images/001.png')
    li
      p 响应头配置（可以配置根据文件名后缀在上传的时候自动添加response header）
      p 设置-->响应头配置
      img(src='/static/images/002.png')
    li
      p 批量属性修改
      img(src='/static/images/003.png')
    li
      p 目录选择（当前目录或者包括子目录）
      img(src='/static/images/004.png')
    li
      p 关键字类型选择（文件名前缀、文件名任何位置匹配、修改时间、文件大小）
      img(src='/static/images/005.png')