.icon
  background-position center
  background-repeat no-repeat
.iBucket
  background-image url(../images/ibucket.png)
.iBorder
  background-image url(../images/iborder.png)
.iOk
  background-image url(../images/iok.png)