@import './mixins/vicanso'
.mimeSetting
  .mimeTypeList
    margin-bottom 10px
    .jtSelect
      width 100%
  .resHeadersContainer
    .item
      height 30px
      line-height @height
      border 1px solid #c0c0c0
      border-bottom none
      &:last-child
        border-bottom 1px solid #c0c0c0
      .name
        width 150px
        text-indent 10px
      .value input
        display block
        width 320px
